<div>
    <h2 id="page-heading">
        <span>Pets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pet" [routerLink]="['/pet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Pet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pets?.length === 0">
        <span>No pets found</span>
    </div>
    <div class="table-responsive" *ngIf="pets?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span>Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="genero"><span>Genero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataNascimento"><span>Data Nascimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="donoNome"><span>Dono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pet of pets ;trackBy: trackId">
                <td><a [routerLink]="['/pet', pet.id, 'view' ]">{{pet.id}}</a></td>
                <td>{{pet.nome}}</td>
                <td>{{pet.genero}}</td>
                <td>{{pet.dataNascimento | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="pet.donoId">
                        <a [routerLink]="['../pessoa', pet.donoId , 'view' ]" >{{pet.donoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pet', pet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pet', pet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pet', { outlets: { popup: pet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
